* {
    background-color: pink;
}

header h1 {
    text-align: center;
    font-family:sans-serif;
}

header h6 {
    text-align:center;
    font-family:sans-serif;
    font-weight:lighter;
}

main {
    font-family:sans-serif;
}

main h2 {
    font-weight:150;
}

h6 {
    font-size:12px;
    font-weight:lighter;
}

.square {
    {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
    }
}

